matplotlib==3.3.4
ipywidgets==7.7.1
ipython==8.4.0
myst_nb==1.1.2
sphinx==6.0.0
ablog==0.11.10
sphinxcontrib-bibtex==2.6.3
sphinx-panels==0.6.0
#sphinx-gallery
pydata-sphinx-theme==0.16.0
myst-parser==0.18.1
docutils==0.21.2
numpy==2.0.2
matplotlib==3.9.3

#imageio
#xlrd
#openpyxl
#pymc3==3.11.4
#xarray==0.20.1
#sphinxcontrib-images
#pandas
#pvlib
#tables
#cartopy==0.18.0
#perfplot
#schemdraw==0.10.0
